controlled_pinn/fem/abaqus/tr3_circle_sq0p0025.odb filter=lfs diff=lfs merge=lfs -text
controlled_pinn/fem/abaqus/tr3_tunnel_tq0p125.odb filter=lfs diff=lfs merge=lfs -text
geometry_pinn/results/R2_P2J_reference_repair/evaluation/T1_reference.npz filter=lfs diff=lfs merge=lfs -text
